@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<textarea type="text" id="typing-zone" class="form-control form-control-plaintext" style="height: 400px; width: 600px;" placeholder="type here the draft" @oninput="OnChangeAsync" value="@change"></textarea>
<hr />
<div>
    <EditForm Model="@SheetModel" OnInvalidSubmit="@Send">
        <InputText id="title" @bind-Value="SheetModel.Title" class="form-control form-control-sm" />
        <InputText id="data" @bind-Value="SheetModel.Data" class="form-control form-control-sm" />

        <button type="submit" @onclick="@Send" class="btn btn-primary text-white">Submit</button>
    </EditForm>
</div>

<StickyNotes BackGroundColor="lazur-bg" Sheets="@Sheets" Action="Remove"></StickyNotes>